/* colors */
.primary {
    background: rgb(50, 10, 12);
}

.secondary {
    background: rgb(100, 10, 12);
}

/* page 1 */
.primary1 {
    background: rgb(14, 14, 17);
}

.secondary1 {
    background: rgb(10, 10, 12);
}

.tertiary1 {
    background: rgb(47, 47, 50);
}

.text1 {
    color: rgb(142, 142, 152);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight:bold;
    font-size: 32px;
}

p {
    font-weight:10;
    font-size: 18px;
}

/* specific */
#container {
    /* display: flex;
    flex-direction: row; */

    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
}

#mainPanel {
    /* flex: 4; */
    /* flex:calc(100%-300px); */
    
    overflow-y: overlay;
    overflow-x: hidden;

    position: fixed;
    left:300px;
    right:0px;

    height:100%;
    transition: .5s;
}

#sidePanel {
    /* flex: 1; */
    /* flex: 300px; */
    /* max-width: 300px;
    min-width: 300px; */
    width:300px;

    position: fixed;
    left: 0;
    /* display: flex;
    flex-direction: column; */

    transition: .5s;
}

#myVid {
    position: relative;
    left: 50%;
    height: 100%;
    
    object-fit: fill;
    transform: translate(-50%, -100%);
}



/* main */
.main {
    padding: 5% 5%;
}

.content {
    top: -5px;
    width: 100%;
}

.content h1 {
    /* height: 20%; */
    margin: 20px 20px 10px 20px;
    padding: 0 20px;
}

.content p {
    /* height: 20%; */
    margin: 20px 20px 10px 20px;
    padding: 20px;
    border-radius: 5px;
}

/* Side */
.panel {
    position:absolute;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    
    width: 300px;
    height: 100vh;

    transition:.5s;
}

.panelContent {
    display: flex;
    flex-direction: column;

    justify-content: center;
}
/* .side {
    
} */

.vid {
    display: inline-block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    margin: 0;
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50, 0.5);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 50, 50, 0.75);
}

/* Other */

img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

video {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}