/* Colors */
.primary {
    background: rgb(50, 10, 12);
}

.secondary {
    background: rgb(100, 10, 12);
}

/* Page 1 */
.primary1 {
    background: rgb(14, 14, 17);
}

.secondary1 {
    background: rgb(10, 10, 12);
}

.tertiary1 {
    background: rgb(47, 47, 50);
}

.text1 {
    color: rgb(142, 142, 152);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 32px;
}

p {
    font-weight: 10;
    font-size: 18px;
}





/* All */
#container {
    /* display: flex;
    flex-direction: row; */

    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
}





/* Main */
#mainPanel {
    /* flex: 4; */
    /* flex:calc(100%-300px); */
    
    overflow-y: overlay;
    overflow-x: hidden;

    position: fixed;
    left: 300px;
    right: 0px;

    height: 100%;
    transition: .5s;
}

#myVid {
    position: relative;
    left: 50%;
    height: 100%;
    
    object-fit: fill;
    transform: translate(-50%, -100%);
}

/* Main Classes */
.main {
    padding: 5% 5%;
}

.content {
    top: -5px;
    width: 100%;
}

.content h1 {
    /* height: 20%; */
    margin: 20px;
    padding: 0 20px;
}

.content p {
    /* height: 20%; */
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.content iframe {
    /* height: 20%; */
    /* padding: 20px; */
    /* padding: 20px; */
    width: 100%;
    height: 40vw;
}

#gravitate {
    margin:20px;
}

.vid {
    display: inline-block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.closeBtn {
    opacity:.5;
    transition: .25s;
}

.closeBtn:hover {
    opacity: 1;
}

.closeBtn img {
    margin: 24px 0 0 24px;
    height: 30px;
}





/* Side */
#menu {
    display:flex;
    flex-direction: column;
}

#menu a {
    padding: 12px 32px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    color: #b7b7b785;
    transition: 0.2s;
}

#menu a:hover {
    color: #b7b7b79a;
    font-size: 22px;
    transition: 0.2s;
}
#menu a.active {
    color: #b7b7b7e2;
    font-size: 23px;
    /* transition: 0.2s; */
}

#sidePanel {
    /* flex: 1; */
    /* flex: 300px; */
    /* max-width: 300px;
    min-width: 300px; */
    width: 300px;

    position: fixed;
    left: 0;
    /* display: flex;
    flex-direction: column; */

    transition: .5s;
}

#hideBtn {
    position: absolute;
    opacity: .1;

    transform: translate(0, -50%);
    
    top: 50vh;
    left: 324px;
    
    height: 30px;
    width: 15px;
    
    transition:.25s;
}

#hideBtn:hover {
    opacity: .2;
}

#hideImg {
    width: 100%;
    height: 100%;
}

/* Side Classes */
.panel {
    position: absolute;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    
    width: 300px;
    height: 100vh;

    transition:.5s;
}

.panelContent {
    display: flex;
    flex-direction: column;

    justify-content: center;
}





/* Scrollbar */
/* width */
::-webkit-scrollbar {
    margin: 0;
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50, 0.5);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 50, 50, 0.75);
}

/* Other */

img, video, h1, p {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}